<!DOCTYPE html>
<html layout:decorator="layouts/layoutDefault" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <h1>Title</h1>
        <p class="alert alert-error">Access denied:
            you do not have permission for that resource</p>
        <div>Fake content</div>
        <div>Please contact the operator with the above information.</div>
    </div>
</th:block>
</body>
</html>