<!DOCTYPE html>
<html layout:decorator="layouts/layoutDefault" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Index</title>
</head>
<body>
<div class="container">
    <th:block layout:fragment="content">
        <div style="width: 95%; margin: 0 auto;">
            <table class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <td>Название:</td>
                    <td th:text="${article.name}"></td>
                </tr>
                <tr>
                    <td>Описание:</td>
                    <td th:text="${article.description}"></td>
                </tr>
                <tr th:if="${article.registrationNumber} != 0">
                    <td>Регистрационный номер:</td>
                    <td th:text="${article.registrationNumber}"></td>
                </tr>
                <tr>
                    <td>Размер:</td>
                    <td th:text="${article.size*0.000001}+' МБ'"></td>
                </tr>
                <tr>
                    <td>Скачать:</td>
                    <td><a th:href="@{/article/download/{articleId}(articleId=${article.id})}"
                           target="_blank">Загрузить</a></td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-2">
                <div style="margin: 0; max-width: 95%; background-color: #F5F5F5; padding: 10px;">
                    <div class="form-group">
                        <label> Количество скачиваний:  </label>
                        <span th:text="${article.downloadCount}"></span>
                    </div>
                    <div class="form-group">
                        <label> Количество просмотров: </label>
                        <span th:text="${article.jumpCount}"></span>
                    </div>
                </div>
            </div>

        </div>
    </th:block>
</div>
</body>
</html>