<!DOCTYPE HTML>
<html layout:decorator="layouts/layoutDefault" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Articles list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.0.3/css/font-awesome.css}"
          href="../../css/font-awesome-4.0.3/css/font-awesome.css"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.4.custom.css}"
          href="../../css/jquery-ui-1.10.4.custom.css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"
          href="../../css/common.css"/>
    <script th:src="@{/js/lib/jquery-1.10.2.js}" src="../../js/lib/jquery-1.10.2.js"/>
    <script th:src="@{/js/lib/jquery-ui-1.10.4.custom.js}" src="../../js/lib/jquery-ui-1.10.4.custom.js"/>

</head>
<body>
<form th:action="@{/articlesList}" th:object="${model}" th:method="post">
    <div th:replace="fragments/header :: header">&nbsp;
    </div>
</form>
<div class="container">


    <th:block layout:fragment="content">

        <div style="font-size: 16pt; margin: 50px">
            <div th:each="article : ${articles}">

                <a href="#" th:href="@{/article/{articleId}(articleId=${article.id})}">
                    <span th:text="${article.name}"></span>
                    <span th:each="user : ${article.users}" th:text="${user.firstName} + ' ' + ${user.lastName} "></span>
                </a>
            </div>

        </div>


    </th:block>

</div>
</body>
</html>