<!DOCTYPE HTML>
<html layout:decorator="layouts/layoutDefault" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Articles list</title>
</head>
<body>
<th:block layout:fragment="content">

        <div style="font-size: 16pt; margin: 30px">
            <div th:each="article : ${articles}">
                <a href="#" th:href="@{/article/{articleId}(articleId=${article.id})}">
                    <span th:text="${article.name}"></span>
                    <span th:each="user : ${article.users}"
                          th:text="${user.firstName} + ' ' + ${user.lastName} "></span>
                </a>
            </div>
        </div>

</th:block>
</body>
</html>