<!DOCTYPE html>
<html layout:decorator="layouts/layoutDefault" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Error</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <h1>Title</h1>
        There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span
            th:text="${status}">500</span>).
        <div>Fake content</div>
        <div>
            Please contact the operator with the above information.
        </div>
    </div>
</th:block>
</body>
</html>