<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Group service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome-4.0.3/css/font-awesome.css}"
          href="../../css/font-awesome-4.0.3/css/font-awesome.css"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.4.custom.css}"
          href="../../css/jquery-ui-1.10.4.custom.css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"
          href="../../css/common.css"/>
    <link rel="stylesheet" th:href="@{/css/lib/dataTables.bootstrap.min.css}"
          href="../../css/lib/dataTables.bootstrap.min.css"/>
    <script th:src="@{/js/lib/jquery-1.10.2.js}" src="../../js/lib/jquery-1.10.2.js"/>
    <script th:src="@{/js/lib/jquery-ui-1.10.4.custom.js}" src="../../js/lib/jquery-ui-1.10.4.custom.js"/>
    <script th:src="@{/js/lib/jquery.dataTables.min.js}" src="../../js/lib/jquery.dataTables.min.js"/>
    <script th:src="@{/js/lib/dataTables.bootstrap.min.js}" src="../../js/lib/dataTables.bootstrap.min.js"/>
    <script th:src="@{/js/groups.js}" src="../../js/groups.js"/>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="container">
    <div style="width: 95%; margin: 0 auto;">

        <div class="row">
            <div class="col-md-8"><h1>Group management</h1></div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <h1><a th:href="@{/groups/create}" class="btn btn-success xcrud-action"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;&nbsp;</a></h1>
                </div>
            </div>
            <table class="table table-hover table-bordered" id="groups">
                <thead>
                <tr>
                    <th width="85%">Название</th>
                    <th width="20%">Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${groups}" th:id="'group-' + ${group.id}">
                    <td th:text="${group.name}">Название группы</td>
                    <td>
                        <nobr>
                            <a class="pull-left btn btn-primary" type="button" title="Edit"
                               th:href="@{/groups/edit/{id}(id=${group.id})}">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <button class="pull-right btn btn-danger" type="button" title="Delete"
                                    th:onclick="'javascript:deleteGroup(\'' + ${group.id} + '\');'">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>

                        </nobr>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>