<!DOCTYPE html>
<html layout:decorator="layouts/layoutDefault" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Index</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="col-md-6">
        <img th:src="@{/images/osu.jpg}"/>
    </div>
    <div class="col-md-6">
        <div style="margin-left: 20%; max-width: 80%; background-color: #abbceb	; padding: 25px;">
            <div class="form-group">
                <label class="control-label" style="color: white; font-size: 20px" >Топ популярных ресурсов</label>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: white; font-size: 20px">Топ популярных категорий</label>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>