<!DOCTYPE html>
<html layout:decorator="layouts/layoutDefault" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap-multiselect.css}"
          href="../../css/bootstrap-multiselect.css"/>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <form th:action="@{/profile}" th:object="${form}" th:method="post" enctype="multipart/form-data">
            <div style="margin-left: 15%; max-width: 70%; background-color: #f9f9f9; padding: 25px;">
                <fieldset>
                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label">Название</label>
                        <div class="col-md-9 indent">
                            <input id="name" type="text" class="form-control" name="name"
                                   placeholder="Name"
                                   th:field="*{name}" required="required"/>
                        </div>
                    </div>
                    <div class="form-group indent">
                        <label for="description" class="col-md-3 control-label">Описание</label>
                        <div class="col-md-9 indent">
                            <textarea class="form-control" rows="3" id="description"  name="description"
                                      placeholder="Description"  th:field="*{description}" required="required"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-md-3 control-label">Категория </label>
                        <div class="col-md-9 indent">
                            <select th:field="*{category}" id="category" class="form-control">
                                <option th:each="category : ${categories}" th:value="${category.id}"
                                        th:text="${category.name}"/>
                            </select>
                            <span th:errors="*{category}" style="color: red"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="users-multiselect" class="col-md-3 control-label">Соавторы </label>
                        <div class="col-md-9 indent">
                            <select th:field="*{users}" id="users-multiselect" multiple="multiple">
                                <option th:each="user : ${users}" th:value="${user.id}"
                                        th:text="${user.firstName}+ ' ' +${user.lastName}"/>
                            </select>
                            <span th:errors="*{users}" style="color: red"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label">Регистрационный номер</label>
                        <div class="col-md-9 indent">
                            <input id="registrationNumber" type="text" class="form-control" name="registrationNumber"
                                   placeholder="Registration Number "
                                   th:field="*{registrationNumber}"/>
                        </div>
                    </div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-md-3 control-label">Выберите файл</label>
                        <div class="col-md-9 indent">
                            <input id="input-1" type="file" class="file" data-show-preview="false" name="file" accept=".rar,.zip"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 text-center">
                                <button class="btn btn-success form-control" name="showUploadedText" type="submit">
                                    Загрузить
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</th:block>
<th:block layout:fragment="pageScript">
    <script th:src="@{/js/lib/bootstrap-multiselect.js}" src="../../js/lib/bootstrap-multiselect.js"/>
    <script th:src="@{/js/profile.js}" src="../../js/profile.js"/>
</th:block>
</body>
</html>