<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <div th:fragment="userForm">
        <form id="userForm" th:object="${user}" method="post" data-toggle="validator"
              action="#" th:action="@{/users/save}" class="pure-form pure-form-aligned" role="form">

                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>

                <div class="form-group">
                    <label for="firstName">Имя: </label>
                    <input id="firstName" type="text" th:field="*{firstName}" class="form-control" required="required"/>
                </div>

                <div class="form-group">
                    <label for="lastName">Фамилия: </label>
                    <input id="lastName" type="text" th:field="*{lastName}" class="form-control" required="required"/>
                </div>

                <div class="form-group">
                    <label for="email">Почта: </label>
                    <input id="email" type="text" th:field="*{email}" class="form-control" required="required"/>
                </div>

                <div class="form-group">
                    <label for="userGroup">Группа: </label>
                    <select th:field="*{group}" id="userGroup" class="form-control">
                        <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"/>
                    </select>
                    <span th:errors="*{group}" style="color: red"/>
                </div>

                <div class="form-group" th:classappend="${password}">
                    <label for="pwd">Пароль: </label>
                    <input id="pwd" type="text" th:field="*{password}" class="form-control" required="required"/>
                </div>

                <div class="form-group">
                    <label for="role">Роль:</label>
                    <select th:field="*{role}" id="role" class="form-control">
                        <option th:each="role : ${T(com.demo.domain.Role).values()}"
                                th:value="${role}" th:text="${role}"/>
                    </select>
                </div>
                <input id="id" type="hidden" th:field="*{id}" class="form-control"/>


        </form>
    </div>
</div>
</body>
</html>